# venv
.venv/
venv/

# python
__pycache__/
*.py[cod]

# build
build/
dist/
*.egg-info/
.eggs/

# test
.pytest_cache/
.coverage*
coverage.xml
htmlcov/

# tooling
.ruff_cache/
.mypy_cache/
.tox/

# ide
.idea/
.vscode/

# notebooks
.ipynb_checkpoints/

# docs
site/

# env
.env
.env.local

# os
.DS_Store
Thumbs.db
